/data*/
/.idea/
/.vscode/
/.gradle/
/.venv/
./jpb/
/*/build/
/build/
/*/out/
/*/bin/
.xeres.lock
/.jpb/persistence-units.xml
.run/XeresApplication.run.xml
/scripts/bot/config.json
/scripts/bot/avatar.png

