# Docker image builder

name: build-docker.yml

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

env:
  JAVA_VERSION: '25.0.1'
  JAVA_DISTRIBUTION: 'graalvm'

jobs:
  build-docker-release:
    name: Build ${{ matrix.arch }} release
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get version from git tag
        id: get_version
        run: echo "VERSION=$(git describe --tags --abbrev=0 | sed 's/^v//')" >> $GITHUB_OUTPUT

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build Docker image
        run: ./gradlew bootBuildImage --imageName=${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }}-${{ matrix.arch }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }}-${{ matrix.arch }}

  create-manifest:
    needs: build-docker-release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Get version from git tag
        id: get_version
        run: |
          git fetch --tags
          echo "VERSION=$(git describe --tags --abbrev=0 | sed 's/^v//')" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create and push manifest
        run: |
          docker manifest create ${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }} \
            ${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }}-amd64 \
            ${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }}-arm64

          docker manifest create ${{ secrets.DOCKERHUB_USERNAME }}/xeres:latest \
            ${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }}-amd64 \
            ${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }}-arm64

          docker manifest push ${{ secrets.DOCKERHUB_USERNAME }}/xeres:${{ steps.get_version.outputs.VERSION }}
          docker manifest push ${{ secrets.DOCKERHUB_USERNAME }}/xeres:latest